<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Parking System</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/header" %>
    <div class="container">
      <%= render partial: "layouts/flash_messages", flash: flash %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
